.boxcontainer{
    height: 500px;
    border:2px dashed cornflowerblue;
    position: relative;
    margin: 20px 0;
}
.circle{
    width: 150px;
	height: 150px;
	border-radius: 50%;
}
.circle1{
    background-color: cornflowerblue;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}